:root {
  --primary: #eee7e1;
  --secondary: #1a1919;
  --tertiary: #e2c2b3;
  --heading-font: 'Abril Fatface', Verdana, Geneva, Tahoma, sans-serif;
  --text-font: 'Poppins', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner { 
  position: absolute; 
  z-index: 9999; 
  padding: .75rem 1.25rem; 
  margin-bottom: 1rem; 
  border: 1px solid transparent; 
  border-radius: .25rem; 
  /* display: none;  */
} 

.banner.active { 
  display: block; 
} 

.banner-bottom { 
  left: 0; 
  right: 0; 
  bottom: 10px; 
} 

.banner-top { 
  left: 0; 
  right: 0; 
  top: 10px; 
} 

.banner-right { 
  right: 10px; 
  bottom: 10%; 
  min-height: 10vh; 
} 

.banner-left { 
  left: 10px; 
  bottom: 10%; 
  min-height: 10vh; 
} 

.alert-primary { 
  color: #004085; 
  background-color: #cce5ff; 
  border-color: #b8daff; 
} 

.banner-close { 
  position: absolute; 
  right: 1.5%; 
} 

.banner-close:after { 
  position: absolute; 
  right: 0; 
  top: 50%; 
  content: 'X'; 
  color: #69f; 
} 


body {
  font-family: var(--text-font);
  color: var(--secondary);
  background-color: var(--primary);
  font-size: 16px;
}

.section-title {
  font-size: 40px;
  font-family: var(--heading-font);
  border-bottom: 3px solid;
  padding-bottom: 10px;
  text-align: center;
  margin: 20px auto 35px auto;
  width: 25%;
}

/*Nav component start*/
header {
  background-color: var(--secondary);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 99999;
  padding: 8px;
}

header h1 {
  font-size: 45px;
  font-family: var(--heading-font);
  flex: 2;
}

.header-name {
  text-decoration: none;
  color: var(--primary);
}

.header-name:link {
  text-decoration: none;
}

.header-name:hover {
  color:var(--primary);
}

header nav {
  font-family: var(--heading-font);
  font-weight: normal;
  flex: 1;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

header nav ul li {
  font-weight: normal;
  font-size: 37px;
}

header nav ul li:link {
  transition: all 1000ms;
}

header nav ul li:hover {
  font-size: 40px;
  font-size-adjust: 20px;
  text-decoration: none;
}

header nav ul li a {
  color: var(--primary);
  text-decoration: none;
}

header nav ul li a:hover, header nav ul li a:focus {
  color: var(--tertiary);
}
/*Nav component end*/

/*About component start*/
.about-section {
  padding-bottom: 20px;
}

#about-me {
  margin: 100px auto;
  background-color: var(--tertiary);
}

.about-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  width: 78%;
  align-items: center;
  margin: auto;
}

.about-flex .profile-img {
  flex: 1;
  margin-right: 20px;
}

.about-flex img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
}

.about-section .summary{
  flex: 2;
}
/*About component end*/

/*Contact component start*/
#contact-form{
  width: 60%;
  margin: 10px auto 0 auto;
}

#contact-form p {
  line-height: 1.5;
  margin-bottom: 20px;
}

#contact-form p span {
  font-style: italic;
}

#contact-form input, #contact-form textarea {
  border: 1px solid;
  padding: 7px 15px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 5px;
  border-radius: 10px;
}

#contact-form textarea {
  height: 200px;
  width: 100%;
  padding: 7px 15x;
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: 5px;
  border-radius: 10px;
  resize: none;
  font-family: var(--text-font);
}

#contact-form form div input:focus, #contact-form form div textarea:focus {
  outline: none;
  background-color: var(--tertiary);
}

#contact-form button {
  width: 100%;
  border: none;
  background-color: var(--secondary);
  color: var(--primary);
  font-size: 20px;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}

#contact-form button:hover {
  color: var(--secondary);
  background-color: var(--primary);
  border: 1px solid var(--secondary);
  cursor: pointer;
}
/*Contact component end*/

/* Portfolio component start */
.main-container {
  position: relative;
}

.cards-container {
  position: relative;
}

.cards-container:hover {
  transform: scale(.98);
}

.cards-links {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 45px;
  font-family: var(--heading-font);
}

.cards-links a:hover {
  color: var(--tertiary);
}

.cards-site, .cards-git {
  text-decoration: none;
  color: var(--secondary);
  font-size: 47px;
  font-weight: bold;
  text-decoration: underline;
  padding: 15px;
}
/* Portfolio component end */

/* Resume component start */
.resume-section {
  font-family: var(--text-font);
}

.resume{
  background-color: var(--tertiary);
  padding: 50px;
  width: 50%;
  margin: 50px auto;
}

.resume-link {
  text-decoration: none;
  font-weight: lighter;
  color: var(--secondary);
}

.resume-link:hover{
  color: var(--primary);
  border-bottom: 1px solid var(--primary);
}
/* Resume component end */

/* Footer component start */
footer {
  position: absolute;
  width: 100%;
}

.social-icons {
  display: flex;
  flex-wrap: nowrap;
  justify-content:space-evenly;
  margin: 20px auto;
  width: 30%;
  padding: 10px;
}

.social-icon-link {
  color: var(--secondary);
  font-size: 35px;
  text-decoration: none;
}

.social-icon-link:hover {
  color: var(--tertiary);
}
/* Footer component end */

/*MEDIA QUERY FOR MOBILE PHONES AND SMALLER*/
@media screen and (max-width: 980px) {
  .section-title {
    width: 80%;
  }
  
  /* Nav starts */
  header {
    width: 100%;
    padding: 10px;
  }

  header h1 {
    flex: 1;
    font-size: 32px;
  }

  header nav {
    flex: 1;
  }

  header nav ul li{
    font-size: 24px;
  }

  header nav ul li:hover {
    font-size: 25px;
  }
  /* Nav ends */

  /* about starts */
  #about-me {
    margin: 40px auto;
  }

  .about-flex {
    width: 80%;
    align-items: flex-start;
    flex-direction: column;
    align-items: center;
  }

  .about-flex img {
    width: 260px;
    height: 260px;
    margin-bottom: 20px;
  }
  /* about ends */

  /* portfolio starts */
  .cards-links {
  padding: 25px;
  }
  /* portfolio ends */

  /* resume starts */
  .resume{
  width: 80%; 
  }
  /* resume ends */

  .social-icons {
  margin: 20px auto 0 auto;
  width: 50%;
  padding: 10px;
  }
}

/*MEDIA QUERY FOR TABLETS AND SMALLER*/
@media screen and (max-width: 768px) {
  .section-title {
    width: 75%;
  }

  /* nav starts */
  header {
    flex-direction: column;
  }

  header h1 {
    align-self: center;
    font-size: 28px;
    margin-bottom: 12px;
  }

  header nav ul {
      justify-content: space-around;
  }

  header nav ul li{
      font-size: 20px;
  }

  header nav ul li:hover {
      font-size: 23px;
  }
  /* nav ends */

  /* about starts */
  .about-section {
    padding-bottom: 0px;
  }

  .about-flex {
    width: 90%;
  }

  .about-section img {
    width: 245px;
    height: 245px;
}
  /* about ends */

  /* portfolio starts */
  .cards-links {
    padding: 20px;
  }

  .cards-site, .cards-git {
    font-size: 35px;
  }
  /* portfolio ends */

  /* contact starts */
  #contact-form {
    width: 90%;
  }
  /* contact ends */

  /* footer starts */ 
  .social-icons {
    margin: 0 auto;
  }
  /* footer ends */
}